<!DOCTYPE html>
<html>
  <head>
    <title>Circuit Saint-Raphaël</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- GOOGLE API -->
    <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->

    <!-- AOS.JS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Audio -->
    <!-- <script>
      var bleep = new Audio();
      bleep.src = "../../assets/audios/sound.mp3";
    </script> -->

  </head>

  <body>
    <%= yield %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
